{% load humanize %}

<div class="col-lg-5">
    <div class="card rounded-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="mb-0">Pagamento em cartão de crédito</h5>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
            </div>

            <form class="mt-4">
                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeName"
                           class="form-control form-control-lg" size="17"
                           placeholder="Cardholder's Name"/>
                    <label class="form-label mt-1" for="typeName">
                        <small class="text-muted">Nome no cartão</small>
                    </label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeText"
                           class="form-control form-control-lg" size="17"
                           placeholder="1234 5678 9012 3457" minlength="19"
                           maxlength="19"/>
                    <label class="form-label mt-1" for="typeText">
                        <small class="text-muted"> Número do cartão</small>
                    </label>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input type="text" id="typeExp"
                                   class="form-control form-control-lg"
                                   placeholder="MM/YYYY" size="7" id="exp"
                                   minlength="7" maxlength="7"/>
                            <label class="form-label mt-1" for="typeExp">
                                <small class="text-muted">Expiração</small>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input type="password" id="typeText"
                                   class="form-control form-control-lg"
                                   placeholder="&#9679;&#9679;&#9679;" size="1"
                                   minlength="3" maxlength="3"/>
                            <label class="form-label mt-1" for="typeText">
                                <small class="text-muted">CVV</small>
                            </label>
                        </div>
                    </div>
                </div>
            </form>

            <hr class="my-4">

            <div class="d-flex justify-content-between mb-4">
                <p class="mb-2">Total</p>
                <p class="mb-2">R$ {{ carrinho.total|floatformat:2|intcomma }}</p>
            </div>

            <button type="button" class="btn btn-primary btn-block btn-lg">
                <div class="d-flex justify-content-between">
                    <span>Comprar</span>
                </div>
            </button>
        </div>
    </div>
</div>